:root {
    --font-primary-color: #2e2e2e;
    --font-secondary-color: #7e7e7e;
    --font-tertiary-color: #fff;
    --font-quaternary-color: #c7e7f1;
    --font-quinary-color: #6b8e94;
    --font-senary-color: #d0ecf5;
    --font-checked-color: #c6e2e8;
    --font-footer-color: #c2c2c2;
    --font-shadow-color: #3527170c;
    --page-background-color: #f5f5f7;
    --card-primary-background-color: #ffffff;
    --card-secondary-background-color: #87b9c2;
    --card-tertiary-background-color: #8bb2b9;
    --card-shadow-color: #63636318 0px 2px 8px 0px;
    --border-color: #424242;
    --theme-primary-color: #c4f6fd;
    --theme-secondary-color: #f1c3eb;
    --page-max-width: 1200px;
    --signing-max-width: 340px;
}

body {
    font-size: 16px;
    color: var(--font-primary-color);
    font-family: 'Montserrat', sans-serif;
    background-color: var(--page-background-color);
    -webkit-text-size-adjust: none;
    margin: 0;
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

main {
    flex: 1;
    max-width: var(--page-max-width);
    margin: 0 1rem;
}

.card {
    overflow: hidden;
    border-radius: 16px;
    box-shadow: var(--card-shadow-color);
    background-color: var(--card-background-color);
    margin-top: 1rem;
}

.visit {
    width: auto;
    background-image: url("./images/blue-nails.jpg");
    background-size: cover;
    padding: 1.5rem;
}

.message {
    color: var(--font-tertiary-color);
    text-shadow: 0 0 10px var(--font-shadow-color);
}

.brand {
    margin-top: -10px;
}

.brand .title {
    font-size: 2.3rem;
    font-family: 'Michroma', sans-serif;
    margin: 0;
}

.brand .subtitle {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
}

.welcome {
    font-family: 'Playfair Display', serif;
    margin-top: 2rem;
}

.welcome .title {
    font-size: 6.2rem;
    line-height: 116px;
    margin: 0;
}

.welcome .subtitle {
    color: var(--font-senary-color);
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
    margin: 0;
    margin-top: 1rem;
}

.address {
    color: var(--font-quaternary-color);
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.9rem;
}

.address .details {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: 32px;
    margin-top: 1rem;
    align-items: center;
    color: inherit;
    text-decoration: none;
    gap: 0 1rem;
}

.address .details:last-child {
    display: flex;
    justify-content: space-between;
    min-height: 32px;
}

ion-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.institute {
    background-image: url("./images/salon.jpg");
    background-size: cover;
    min-height: 400px;
}

.outline-flowers {
    display: none;
    background-image: url("./images/blue-flowers.png");
    background-size: none;
    min-height: 100px;
}

.hands-flowers {
    background-image: url("./images/hands-flowers.jpg");
    background-size: cover;
    min-height: 120px;
    padding: 2rem;
}

.hands-flowers h2 {
    font-family: 'Playfair Display', serif;
    color: var(--font-tertiary-color);
    font-weight: 200;
    font-style: italic;
    font-size: 2rem;
    margin: 0;
}

.shop-description {
    background-image: url("./images/blue-background.jpg");
    color: var(--font-quinary-color);
    padding: 2rem;
}

.shop-description b {
    color: var(--font-quinary-color);
}

.shop-description.card p:first-child {
    margin-top: 0;
}

.shop-description .greetings img {
    max-width: var(--signing-max-width);
    object-fit: contain;
    width: 100%;
}

.products {
    background-image: url("./images/nails-polish.jpg");
    background-size: cover;
    min-height: 400px;
}

.price-list {
    padding: 2rem;
}

.price-list.manicure {
    color: var(--font-quaternary-color);
    background-color: var(--card-secondary-background-color);
}

.price-list.pedicure {
    color: var(--font-quaternary-color);
    background-color: var(--card-tertiary-background-color);
    text-shadow: 0 0 10px var(--font-shadow-color);
}

.price-list .title {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    padding: 0 .5rem;
    margin: 0;
}

.price-list .title {
    color: var(--font-tertiary-color);
}

.price-list .subtitle {
    font-family: 'Playfair Display', serif;
    font-weight: 200;
    font-style: italic;
    font-size: 1.5rem;
    padding: 0 .5rem;
    margin: 0;
}

ul.items {
    font-weight: 500;
    overflow-x: hidden;
    list-style: none;
    padding: 0 .5rem;
    margin: 0;
    margin-top: 1rem;
}

ul.items li {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
}

.review {
    padding: 2rem;
}

.review-comment {
    margin-top: .5rem;
}

b {
    color: var(--font-secondary-color);
}

.checked {
    color: var(--font-checked-color);
}

footer {
    color: var(--font-footer-color);
    padding: 0 .7rem;
    margin: 1rem 0;
}

.wrapper {
    display: inline-grid;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
        margin-top: 1rem;
    }

    .visit { grid-area: 1 / 1 / 2 / 13; }
    .institute { grid-area: 2 / 1 / 3 / 7; }
    .hands-flowers { grid-area: 2 / 7 / 3 / 13; }
    .products { grid-area: 4 / 1 / 5 / 13; }
    .shop-description { grid-area: 3 / 1 / 4 / 13; }
    .manicure { grid-area: 5 / 1 / 6 / 7; }
    .pedicure { grid-area: 5 / 7 / 6 / 13; }
    .lea { grid-area: 6 / 1 / 7 / 7; }
    .sarah { grid-area: 7 / 1 / 8 / 7; }
    .phillipe { grid-area: 6 / 7 / 7 / 13; }
    .astrid { grid-area: 7 / 7 / 8 / 13; }
    .card { margin-top: 0; }

    .visit {
        padding: 2.5rem;
    }

    .welcome .title {
        font-size: 6.5rem;
    }

    .address {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-auto-rows: minmax(100px, auto);
        gap: 2rem;
    }

    .address .details:last-child {
        display: inherit;
    }

    .products {
        background-image: url("./images/nails-polish-tablet.jpg");
    }

    .shop-description .greetings {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
        margin-top: 1rem;
    }

    .visit { grid-area: 1 / 1 / 2 / 13; }
    .institute { grid-area: 2 / 1 / 4 / 5; }
    .outline-flowers { grid-area: 2 / 5 / 3 / 13; display: initial; }
    .hands-flowers { grid-area: 3 / 5 / 4 / 13; }
    .products { grid-area: 4 / 1 / 5 / 5; }
    .shop-description { grid-area: 4 / 5 / 5 / 13; }
    .manicure { grid-area: 5 / 1 / 6 / 7; }
    .pedicure { grid-area: 5 / 7 / 6 / 13; }
    .lea { grid-area: 6 / 1 / 7 / 4; }
    .sarah { grid-area: 6 / 4 / 7 / 7; }
    .phillipe { grid-area: 6 / 7 / 7 / 10; }
    .astrid { grid-area: 6 / 10 / 7 / 13; }
    .card { margin-top: 0; }

    .visit {
        background-image: url("./images/blue-nails.jpg");
        padding: 2.5rem;
    }

    .message {
        width: 50%;
    }

    .welcome .title {
        font-size: 6.5rem;
    }

    .address {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-auto-rows: minmax(100px, auto);
        gap: 2rem;
    }

    .address .details:last-child {
        display: inherit;
    }

    .shop-description .greetings {
        display: flex;
        justify-content: space-between;
    }
}
