/* Font definition */
@font-face {
  src: url(../fonts/anirm___.ttf);
  font-family: "Aniron";
}

@font-face {
  src: url(../fonts/Trattatello.ttf);
  font-family: "Trattatello";
}

/* Master styles */
body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    width: 1324px;
    margin: 0 auto;
}

/* Navigator styles */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.left-side {
    font-family: "Aniron";
    font-size: small;
    display: flex;
    padding-top: 73px;
    padding-left: 38px;
}

.website-title {
  font-family: "Trattatello";
  font-size: 5.1em;
  margin-bottom: -10px;
  margin-left: -17px;
}

.right-side {
  font-family: "Aniron";
  font-size: small;
  padding-top: 73px;
  padding-right: 38px;
}

footer {
  font-family: "Aniron";
  font-size: small;
  color: #8a8a8a;
  display: flex;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 38px;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
}

.nav-link-wrapper {
    height: 22px;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper a:hover {
    color: black;
}

/* Portfolio styles */
.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.img-text-wrapper .subtitle {
  font-family: "Aniron";
  color: transparent;
  transition: 0.2s;
}

.image-blur {
  transition: 1s;
  filter: brightness(10%);
}

.img-text-wrapper:hover .subtitle {
  font-family: "Aniron";
  color: white;
}

.logo-wrapper img {
  width: 65%;
  margin-bottom: 20px;
  filter: opacity(0%);
  -webkit-filter: opacity(0%);
}

.img-text-wrapper:hover .logo-wrapper img {
  transition: 1s;
  filter: opacity(100%);
  -webkit-filter: opacity(100%);
}

/* About styles */
.about-content-background {
  background-position: 88% 63%;
  background-repeat: no-repeat;
  background-size: 900px;
}

.about-content-text {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.25em;
  text-align: justify;
  height: 657px;
  width: 298px;
  padding-top: 43px;
  padding-right: 28px;
  padding-left: 24px;
  margin-left: 86px;
}

/* Header styles */
h1 {
  margin-bottom: -3px;
}

h2 {
  padding-top: 6px;
  margin-bottom: -8px;
}

h3 {
  margin-bottom: -8px;
}

h4 {
  text-align: justify;
  font-style: italic;
  padding-right: 78px;
  padding-left: 78px;
}

/* Biography styles */
.biography-content {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-top: 6px;
  padding-right: 38px;
  padding-left: 38px;
  text-align: justify;
  font-size: 1.25em;
}

.biography-img {
  float: right;
  padding-top: 4px;
  padding-bottom: 0px;
  padding-left: 38px;
}

.centered {
  position: relative;
  font-size: x-large;
  font-style: italic;
  color: whitesmoke;
  top: -56px;
  left: 421px;
}

/* Writting styles */
.writting-all-books {
  margin: 43px;
}

.writting-book {
  display: flex;
}

.writting-book-img img {
  height: 525px;
  width: 350px;
  padding: 43px;
}

.writting-book-synopsis {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.25em;
  text-align: justify;
  width: 298px;
  margin-top: 43px;
  margin-bottom: 47px;
  padding-left: 24px;
  padding-right: 28px;
  border: 5px solid rgb(70, 72, 72);
  border-radius: 25px;
  background-color: white;
}

/* Adaptation styles */
.adaptation-img {
  height: 700px;
  width: 1324px;
  background-size: cover;
}

.slider-padding {
  padding: 85px 889px;
}

.slider {
  width: 350px;
  overflow: hidden;
}

.slides {
  width: calc(350px*6);
  animation: sliding 40s infinite;
}

.slides img {
  height: 525px;
  width: 350px;
}

.slide {
  float: left;
}

@keyframes sliding {
  0% {transform: translateX(0);}
  5% {transform: translateX(0);}
  16% {transform: translateX(-350px);}
  21% {transform: translateX(-350px);}
  33% {transform: translateX(-700px);}
  38% {transform: translateX(-700px);}
  50% {transform: translateX(-1050px);}
  55% {transform: translateX(-1050px);}
  65% {transform: translateX(-1400px);}
  70% {transform: translateX(-1400px);}
  81% {transform: translateX(-1750px);}
  86% {transform: translateX(-1750px);}
  97% {transform: translateX(0px);}
}
